.container{
    max-width: 120rem;
    padding: 2rem 2rem;
    margin: 10rem auto;
    box-shadow: var(--shadow-dark);
    min-height: 70rem;
    background: url("/img/bg.jpg") no-repeat ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
}
.footer{
    font-size: 1.2rem;
    margin-top: 3rem;
}
